.divValorEnGrafico {
  background-color: #2b2f34;
  border-radius: 15px;
  color: #ffffff;
}
.divRespuestaGrafico {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}

.divValorEnGrafico div.mt-4 #parrafo_info {
  color: #ffffff;
}

canvas {
  width: 100%;
}

button {
  background-color: #212529;
  border-color: #212529;
}
